<% provide(:title, "Edit") %>
<h1>Editing Customer</h1>

<%= render 'form', customer: @customer.role %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Unhappy?
      <%= button_to "Cancel my account", customer_path,
                    data: {confirm: "Are you sure?"}, method: :delete,
                    class: "btn btn-sm btn-danger" %>
    </p>
  </div>
</div>

<%= link_to 'Back to Dashboard', dashboard_path %>
