/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/*@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';*/
@import "uikit-mixins";
/* add here file with mixins */
$base-body-background:                           #f5f7f4 !default;
$base-body-font-family:                          "Berlin Sans FB Demi", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-heading-font-family:                       "Berlin Sans FB Demi", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$navbar-nav-font-family:                         "Berlin Sans FB Demi", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-body-color:                                #1D3557 !default;

$navbar-background:                              #f5f7f4 !default;
$navbar-nav-height:                              60px !default;
$navbar-nav-line-height:                         60px !default;
$navbar-nav-padding-horizontal:                  10px !default;
$navbar-nav-font-size:                           20px !default;
$navbar-link-color:                              #1d3557 !default;
$navbar-link-hover-color:                        #1d3557 !default;
$navbar-nav-hover-background:                    #DCE4D9 !default;
$navbar-nav-hover-color:                         #1d3557 !default;

$button-background:                              #DCE4D9 !default;
$button-color:                                   #1d3557 !default;
$button-hover-background:                        #1d3557 !default;
$button-hover-color:                             #DCE4D9 !default;

$button-danger-background:                       #BD2F3A !default;
$button-danger-color:                            #DCE4D9 !default;
$button-danger-hover-background:                 #1d3557 !default;
$button-danger-hover-color:                      #DCE4D9 !default;

$button-large-font-size:                         24px !default;
$button-large-height:                            60px !default;
$button-large-line-height:                       60px !default;

$panel-box-background:                           rgba(245,247,244, 0.75) !default;

$utility-border-rounded:                         15px !default;
$utility-margin-large:                           100px !default;
$utility-margin:                                 20px !default;
@import "uikit-variables";
@import "uikit";
@import "uikit-components";

.home-page{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: image-url('background.jpg');
}

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a{
  /*border: 5px solid #1d3557;
  padding-top: -5px;
  text-decoration: underline;*/
  border-bottom: 10px solid #1d3557;
}

.uk-navbar-brand{
  height: 60px;
}