// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_user {
  width: 50%;
  margin: 20px 4px 32px 4px;

  .basic-info {
    label {
      margin-top: 0;
    }
  }

  label {
    font-size: 18px;
    margin-top: 8px;
  }

  input {
    margin-top: 4px;
    border-radius: 4px;
    padding: 16px 8px;
    font-size: 16px;
  }

  .addresses {
    display: flex;
    justify-content: space-between;
    margin-top: 32px !important;

    .address {
      flex: 1;

      &:last-child {
        margin-left: 40px;
      }
    }
  }

  .submit-container {
    .submit-button {
      padding: 8px 24px;
      font-size: 20px;
      transition: .3s all;
  
      &:hover, &:focus, &:active {
        background: #3966a7 !important;
      }
    }
  }
  
}