<h1>Editing Business Business Owner</h1>

<%= render 'form', business_business_owner: @business_business_owner %>

<%= link_to 'Show', @business_business_owner %> |
<%= link_to 'Back', business_business_owners_path %>
