<h1>Editing Business Service Order</h1>

<%= render 'form', business_service_order: @business_service_order %>

<%= link_to 'Show', @business_service_order %> |
<%= link_to 'Back', business_service_orders_path %>
