<% provide(:title, @user.role.name) %>
<div class="row">
  <article class="">
    <section>
      <h1>Businesses</h1>

      <div id="most-profitable-businesses" class="">
      </div>
    </section>
  </article>
  <script>
      $(document).on('turbolinks:load', function() {
          var loadingImage = '<%= show_svg("loading.svg") %>';
          var mostProfitableBusinessesSection = document.getElementById("most-profitable-businesses");
          if(mostProfitableBusinessesSection){
            var mostProfitableBusinessesDynamicTable = new createDynamicTable(0, 5, '/get_most_profitable_businesses', mostProfitableBusinessesSection, loadingImage, null, null, null, true);
            mostProfitableBusinessesDynamicTable.executeQuery();
          }
      });
  </script>
</div>