<% provide(:title, @user.role.name) %>
<div class="row">
  <article class="">
    <section>
      <h1>Businesses</h1>

      <div class="form-group">
        <label for="exampleInputEmail1">Business name</label>
        <input type="text" class="form-control" id="input-business-name" placeholder="Business name">
      </div>

      <div id="most-profitable-businesses" class="">
      </div>
    </section>
  </article>
  <script>
      var seacrchQuery = document.getElementById('input-business-name');
      var loadingImage = '<%= show_svg("loading.svg") %>';
      var most_profitable_businesses_section = document.getElementById("most-profitable-businesses");
      var mostProfitableBusinessesDynamicTable = new createDynamicTable(0, 5, '/get_most_profitable_businesses', most_profitable_businesses_section, loadingImage, seacrchQuery);
      mostProfitableBusinessesDynamicTable.executeQuery();
  </script>
</div>

