<% provide(:title, @user.role.name) %>
<div class="row">
  <section class="col-md-6 col-md-offset-0">
    <h1>Businesses</h1>
    <%= link_to 'Create new', new_business_path %>
    <div id="my-businesses-section" class="col-md-offset-5">
      <% show_svg("loading.svg") %>
    </div>
  </section>
  <section class="col-md-6 col-md-offset-0">
    <h1>Latest orders</h1>
    <br/>
    <div id="latest-orders-section" class="col-md-offset-5">
      <% show_svg("loading.svg") %>
    </div>
  </section>
  <script type="text/javascript">
      //window.onload = function () {
          var loadingImage = '<%= show_svg("loading.svg") %>';
          var latest_orders_section = document.getElementById("latest-orders-section");
          var ordersDynamicTable = new createDynamicTable(0, 5, '/get_latest_businesses_orders', latest_orders_section, loadingImage);
          ordersDynamicTable.executeQuery();

          var my_businesses_section = document.getElementById("my-businesses-section");
          var myBusinesses = new createDynamicTable(0,5,'/get_my_businesses', my_businesses_section, loadingImage);
          myBusinesses.executeQuery();
      //}
  </script>
</div>

