<% provide(:title, @user.role.name) %>
<div class="row">
  <section class="col-md-8 col-md-offset-2">
    <h1>Businesses</h1>
    <%= link_to 'Create new', new_business_path %>
    <table class="table panel panel-default">
      <thead class="panel-heading">
      <tr>
        <td>Name</td>
        <td>Profit</td>
        <td>Edit</td>
      </tr>
      </thead>
      <tbody class="panel-body">
      <% @user.role.businesses.each do |business| %>
          <tr>
            <td><%= business.name %></td>
            <td><%= business_profit business %></td>
            <td><%= link_to 'Edit', edit_business_path(business.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </section>
  <section class="col-md-8 col-md-offset-2">
    <h1>Latest orders</h1>
  </section>
  <script type="text/javascript">
      displayLatestOrders(0, 5);
  </script>
</div>

