<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Service Hero</h1>

  <h2>
    This is the perfect place for the businesses to offer their services, but also for
    customers to discover the best services within their neighborhood.
  </h2>

  <%= link_to "Customer sign up", sign_up_customer_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Business Owner sign up", sign_up_business_owner_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>